* {
  box-sizing: border-box;
}

:root{
 --primary-color: #0c70cd;
--secondary-color: #ffe95d;
--background-color: #fff

}

body {
  margin: 20px;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header{
  display: flex;
  justify-content: space-between;
  float: left;
  margin: 20px 100px 20px;
  position: static;
  text-align: center;
}


.header nav{
  float: right;
}


ul {
  list-style-type: none;
  position: static;
  float: right;
  text-align: center;
}

li{
display: block;
width: 100px;
text-align: center;
float: right;
}

.hero-banner{
  position: relative;
  width: 20%;
  height: 20%;
  margin: 20px;
}

.container{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 300px 300px 300px;
}


a {
  color: blueviolet ;
  text-decoration: none
}

h2{
  position: absolute;
  top: 200px;
  font-size: 50px;
  text-align: center;
  margin: 100%;
  
  
}

h3,
h4,
h5,
h6 {
  margin: 100px;
  padding: 0;
}

p {
  margin-top: 100px;
  text-align: left;

}
