* {
  box-sizing: border-box;
}

:root{
 --primary-color: #0c70cd;
--secondary-color: #ffe95d;
--background-color: #fff

}

body {
  margin: 20px;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header{
  text-align: center;
  display: flex;
  margin: 20px 100px 20px;
  position:static;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  position: fixed;
}

li{
display: block;
width: 100px;
text-align: center;
float: right;
}

.hero-banner{
  
}

.container{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 300px 300px 300px;
}


a {
  color: blueviolet ;
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
